<!-- {{dService.allSchemas[0]?.paths[0] | json}} -->
<div fxLayout="row" fxLayoutAlign="space-between" fxFlex>
    <div fxLayout="column" class="side-nav">
        <div *ngFor="let schema of dService.allSchemas" (click)="selectSchema(schema)">
            <button fxFlex="100" [class.active]="selectedSchema?.modelName===schema?.modelName"
                mat-button>{{schema?.modelName}}</button>
        </div>
    </div>
    <div fxFlex fxLayout="row wrap">
        <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="filterView">
            <h2><strong>{{selectedSchema?.modelName}}</strong></h2>
            <div>
                <mat-form-field class="example-chip-list">
                    <mat-label>Selected Fields</mat-label>
                    <mat-chip-list #chipList aria-label="Path Selection">
                        <ng-container *ngFor="let pathData of selectedPaths; let i = index">
                        <mat-chip *ngIf="pathData.hide" [selectable]="selectable" >
                            {{pathData.label ? pathData.label : pathData.path}}
                            <mat-icon (click)="removePath(i)">cancel</mat-icon>
                        </mat-chip>
                        </ng-container>
                        <input placeholder="Select Filter" [formControl]="selectFieldControl" #filterInput
                            [matAutocomplete]="auto" [matChipInputFor]="chipList">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="selectPath($event?.option?.value, filterInput)">
                        <mat-option [matTooltip]="pathData.label" *ngFor="let pathData of selectedFieldFilterOptions" [value]="pathData">
                            {{pathData.label ? pathData.label : pathData.path}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <ng-container *ngFor="let pathData of selectedPaths">
                <mat-form-field
                    *ngIf="(pathData.data.instance==='String' || pathData.hide === true|| pathData.path === 'diagnosis') && pathData.data?.enumValues?.length < 1"
                    class="example-form-field">
                    <mat-label>{{pathData.path}}</mat-label>
                    <input matInput type="text" [(ngModel)]="pathData.searchValue">
                    <button mat-button *ngIf="pathData.searchValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="pathData.searchValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field *ngIf="pathData.data.instance==='Number' && pathData.data?.enumValues?.length < 1"
                    class="example-form-field">
                    <mat-label>{{pathData.path}}</mat-label>
                    <input matInput type="number" [(ngModel)]="pathData.searchValue">
                    <button mat-button *ngIf="pathData.searchValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="pathData.searchValue=''">
                        <mat-icon>menu</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field *ngIf="pathData.data.enumValues?.length > 0" appearance="fill">
                    <mat-label>{{pathData.path}}</mat-label>
                    <mat-select (selectionChange)="pathData.searchValue=$event.value">
                        <mat-option *ngFor="let enumVal of pathData?.data?.enumValues" [value]="enumVal">
                            {{enumVal}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-checkbox *ngIf="pathData.data.enumValues?.length < 1 && pathData.data.instance==='Boolean'"
                    required [checked]="false" [(ngModel)]="pathData.searchValue">
                    {{pathData.path}}
                </mat-checkbox>
                <div fxLayout="row" *ngIf="pathData.data.instance==='Date'">
                    <mat-form-field *ngIf="pathData.helper?.type!=='age'" color="accent" appearance="fill">
                        <mat-label>From</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="pathData.startRange">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-hint>{{pathData.label}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field *ngIf="pathData.helper?.type!=='age'" color="accent" appearance="fill">
                        <mat-label>To</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="pathData.endRange">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        <mat-hint>{{pathData.label}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field *ngIf="pathData.helper?.type==='age'" color="accent" appearance="fill">
                        <mat-label>From</mat-label>
                        <input matInput [(ngModel)]="pathData.startRangeStr">
                        <mat-hint>From Age E.g. <em>11 months</em></mat-hint>
                    </mat-form-field>

                    <mat-form-field *ngIf="pathData.helper?.type==='age'" color="accent" appearance="fill">
                        <mat-label>To</mat-label>
                        <input matInput [(ngModel)]="pathData.endRangeStr">
                        <mat-hint>To Age E.g. <em>2 years</em></mat-hint>
                    </mat-form-field>
                </div>
            </ng-container>
            <button color="primary" mat-button mat-raised-button (click)="fetchResult()">Run Query</button>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="dService.runningQuery">
            <progress></progress>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="resultView" fxFlex *ngIf="!dService.runningQuery">
            <mat-checkbox [(ngModel)]="fetchOnlyCount">Count Only</mat-checkbox>
            <h2
                *ngIf="fetchOnlyCount && dService.activeResultType === 'number' && (dService.result || dService.result===0)">
                RESULT: {{dService.result}}</h2>

            <table *ngIf="!fetchOnlyCount && dService.activeResultType === 'object'">
                <caption>{{selectedSchema?.modelName}}</caption>
                <tr>
                    <th [id]="i" *ngFor="let pathData of selectedPaths; let i = index">{{pathData.path}}</th>
                </tr>
                <tr *ngFor="let item of dService.result">
                    <td *ngFor="let pathData of selectedPaths">
                        <ng-container *ngIf="pathData.path==='diagnosis'">
                            <span *ngFor="let diagnosis of item[pathData?.path]"> * {{diagnosis?.code}} -
                                {{diagnosis?.desc}}</span>
                        </ng-container>
                        <span
                            *ngIf="pathData.data?.instance!=='Date' && pathData.path!=='diagnosis'">{{item[pathData?.path]}}</span>
                        <span *ngIf="pathData.data?.instance==='Date'">{{item[pathData?.path] | date: medium}}</span>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>