<body>
  <section class="hero is-info is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Statistics
        </p>
        <p class="subtitle">
          Smart Clinic
        </p>
      </div>
    </div>
  </section>
  <!-- <div class="box cta">
    
    </div> -->
  <section class="container cta" style="padding:50px">
    <div class="columns features is-multiline">
      <div class="column is-4" *ngFor="let item of sService.cards | async">
        <div class="card is-shady">

          <div class="card-content">
            <div class="content">

              <article class="notification media has-background-white">

                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">{{item.title}}</h1>


                  </div>
                </div>
              </article>
              <span (click)="activateModal(item)" class="button is-link modal-button"
                data-target="modal-image2">More</span>


            </div>
          </div>
        </div>
      </div>


    </div>
    <div id="modal" class="modal is-clipped">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{sService.activeCard?.title}}
            </p>
          </header>

          <div class="card-content" *ngIf="!sService.activeCard?.loading">
            <div class="content">
              <div class="columns">
                <div class="column is-4">
                  From: <input [(ngModel)]="sService.dateRange.startDate" class="input is-success" type="date" placeholder="Success input">
                </div>
                <div class="column is-4">
                  To: <input [(ngModel)]="sService.dateRange.endDate" class="input is-success" type="date" placeholder="Success input">
                </div>
                <div class="column is-4">
                  Action: <button class="button is-fullwidth" (click)="sService.fetchStats()">Fetch Data</button>
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th class="is-size-4">Title</th>
                    <th class="is-size-4">Value</th>


                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let result of sService.activeCard?.result">
                    <th class="has-text-link has-text-weight-bold	is-size-4	">{{result.title}}
                    </th>
                    <td class="has-text-primary	has-text-weight-bold is-size-4	">{{result.value}}</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
          <footer class="card-footer">

            <a class="card-footer-item" (click)="deactivateModal()">Close</a>

          </footer>
        </div>
      </div>
      <button (click)="deactivateModal()" class="modal-close is-large" aria-label="close"></button>
    </div>

  </section>

  <!--  ===============
    HERE BE MODALS
    ===============  -->
  <!-- 3dFlipVertical card tiny -->